
* {
    box-sizing: border-box;
}

body,
html {
    font-family: 'Roboto';
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: #fff;
    font-weight: 400;
    min-width: 320px;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    scroll-behavior:smooth ;
}

.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
}

h1,
h2,
h3,
p,
ul,
nav,
li,
figure
{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

article {
    display: inline-block;
    margin-bottom: 0;
}


.clearfix::after {
    display: block;
    clear: both;
    content: '';
}


img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
    transition: all 0.25s;
}
main{
    background-color: #fbfbfb;
}
footer{
    background-color:white;
}


.clearfix::after {
    display: table;
    clear: both;

    content: '';
}

.fixed-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

@media screen and (max-width:1200px){
    .fixed-container{
        padding: 0 40px  0 40px;
    }
}

@media screen and (max-width:768px){
    .fixed-container{
        padding: 0 20px 0 20px;
    }
}
.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.flex-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item{
    display: inline-block;
}

.stelsH{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.examples{
    background-color:#fbfbfb ;
}

@media screen and (max-width:768px){
    .examples{
        margin: 0;
    }
}

.fixed-container__slider{
    box-sizing: border-box;
    max-width: 1228px;
}